@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<address>
    <h4>Guitar Store</h4>
    <h4>Sofia, Bulgaria</h4><br />
    <strong>Phone:</strong> +359887123456 <br />
    <strong>Support:</strong><a href="guitarstore@gmail.com">guitarstore@gmail.com</a>
</address>
    